<div class="row">
    <nav>
        <div class="menu-izquierda">
            <ul>
                <li *ngFor="let opcion of menuOpciones" class="menu-superior">
                    <a class="nav-link elemnom-menu" (click)="changeSection(opcion)">{{opcion.nom}} </a>
                </li>              
            </ul>      
        </div>
        <div class="menu-derecha">
            <form class="form-inline my-2 my-lg-0 search">
                <input class="form-control mr-sm-2" type="search" [placeholder]="traduc.general.buscador" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{traduc.general.buscador}}</button>
            </form>
        </div>
    </nav>
</div>

<div class="row double-line">
    <div class="menu-izquierda">
        <ul>
            <li *ngFor="let opcion of menuOpciones" class="menu-inferior">
                <a [class]="(opcion.selected) ? 'active':'noactive'"> </a>
            </li>              
        </ul>      
    </div>
    <div class="menu-derecha">

    </div>  
</div>